/*contenedor de las columnas*/
.columnas{
    margin-top: 70px;
}
/*area de la columna de la izquierda de la pag*/

.colum1{
  margin-top: 40px;
  margin-left: 8px;
  float: left;
  width: 49%;
  height: auto;
  /*border: 3px solid black;*/
  text-align: center;
}

#f_personal{
  width: 60%;
  margin-top: 60px;
}

#t_personal{
    margin-top: -40px;
}

h2 span{
  font-size: 25px;
}

/*area de la columna de la derecha de la pag*/

.colum2{
  float: left;
  width: 49%;
  height: auto;
  /*border: 3px solid black;*/
  text-align: center;
}

.table_p{
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

td{
  width: 25%;
  text-align: left;
  border: 3px solid black;
  border-collapse: collapse;
  padding: 0.3em;
}

th{
  width: 25%;
  text-align: left;
  border: 3px solid black;
  border-collapse: collapse;
  padding: 0.3em;
  background: silver;
}
