.table_principal{
    margin-left: 12px;
    float: left;
    width: 200px;
    height: 20px;
    border-collapse: separate;
    border-spacing: 5px;
}

.table_links{
  margin-right: 12px;
    float: right;
    width: 10px;
    height: 20px;
    border-collapse: separate;
    border-spacing: 5px;
}

.links{
  text-align: center;
  background: silver;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
  padding: 10px;
}

#img_morella{
  width: 26%;
}

#img_bon-bon{
  width: 29%;
}

#img_una_malaventura{
  width: 26%;
}

.lectura{
  font-style: oblique;
  margin-left: 8px;
  margin-top: 60px;
  margin-bottom: 40px;
  float: left;
  width: 100%;
  height: auto;
  /*border: 3px solid black;*/
  text-align: left;
}

p{
  text-align: justify;
  vertical-align: middle;
  line-height: 1.8em;
}
.l_contenido{
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 300px;
}

.opinion{
  margin-left: 60px;
  margin-right: 60px;
}
