body{
  background-image: url("/img/background.png");
}

.contenido{
  margin: auto;
  width: 70%;
}

/*area del titulo de la pag*/
 
.titulo{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 130px;
  border: 3px solid black;

 text-align: center;

  line-height: 8px;
  background-image: url(/img/fractal02.jpg);
  text-shadow: 3px 3px 5px green,
               6px 6px 5px silver;
               border-top-left-radius: 150px;
               border-top-right-radius: 150px;
               border-bottom-left-radius: 150px;
               border-bottom-right-radius: 150px;

}

h1 span{
  font-size: 30px;
  font-style: italic;
  color: white;
}

h1 span span{
  vertical-align: middle;
  font-size: 30px;
  border-bottom: 4px solid white;
  font-style: italic;
}

.imagen{
  border-radius: 20%;
}

.sin_m{
  margin-top: 0px;
  text-align: center;
}
