

/*area de las practicas de la pag*/

#practicas{
  margin-left: 8px;
  float: left;
  width: 100%;
  height: auto;
  /*border: 3px solid black;*/
  text-align: left;
}

h3 span{
  font-size: 20px;
}

#main_class{
  margin-top: 50px;
  margin-bottom: 0px;
}

.m_practica{
  margin-left: 35px;
  padding: 0.3em;

}

.m_tarea{
  margin-left: 50px;
  padding: 0.3em;

}
